/* Flexbox Part 1 */

#flex-section1 ul {



	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding-inline-start: 50px;
	padding-inline-end: 50px;
	margin: 0;

}

/* end Flexbox Part 1 */


/* Flexbox Part 2 */

#flex-section2 ul {
	display: flex;
	padding: 0px;
	margin: 0;

}

#flex-section2 li {

	flex: 1;
	padding: 8px;
	background-color: lightgray;
	align-items: center;
	list-style: none;
	margin: 0;
	font-weight: 500;
    text-align: left;	

}

#flex-section2 .item1 {

	order: 1;
	padding-top: 10px;
	padding-bottom: 10px;

}

#flex-section2 .item2 {

	order: 3;
	padding-top: 10px;
	padding-bottom: 10px;

}

#flex-section2 .item3 {

	order: 2;
	padding-top: 10px;
	padding-bottom: 10px;

}

/* end Flexbox Part 2 */


/* Flexbox Part 3 */

#flex-section3 .box {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;

}

#flex-section3 .tags ul {

	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 0px;

}

/* end Flexbox Part 3 */


/* Grid Part 1 */

#grid-section1 .grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	grid-auto-rows: 100px;

}

/* end Grid Part 1 */


/* Grid Part 2 */

#grid-section2 .gridboxblue {

	grid-column: 2 / span 4;
	grid-row: 1 / span 4;
	z-index: 1;

}

#grid-section2 .gridboxred {

	grid-column: 1 / span 2;
	grid-row: 2 / span 1;

}

/* end Grid Part 2 */


/* Grid Part 3 */

#grid-section3 .grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 100px 300px 100px;
	gap: 10px;

}

#grid-section3 .box1 {

	grid-column: span 2;
	height:100px; 	

}

#grid-section3 .box2 {
	height:300px; 

}

#grid-section3 .box3 {
	height:auto;

}

#grid-section3 .box4 {
	grid-column: span 2; 
	height:100px;

}

/* end Grid Part 3 */


/* Transition Part */

#transition-section .box a {
	display: inline-block;
    background-color: #ccc;
    color: #000;
    padding: 20px;
    text-decoration: none;

    /* Add transition properties */
    transition: background-color 3s ease-out, color 3s ease-out; 


}

#transition-section .box a:hover {
	background-color: #cc0000;
    color: #fff;

    /* Specify the transition duration when the hover ends */
    transition: background-color 0.5s ease-in, color 0.5s ease-in;


}

/* end Transition Part */